ServerdanClient_Rama Soni Ravictor_20180140103/Connected Services/ServiceReference1/_ServiceMtk_P1_20180140103.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_ServiceMtk_P1_20180140103" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_ServiceMtk_P1_20180140103" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IMatematika.Koordinat">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IMatematika.Koordinat" nillable="true" type="tns:IMatematika.Koordinat" />
</xs:schema>